﻿body
{
	font-size: 10pt;
	font-family: Verdana;
	overflow: hidden;
}

h1
{
	font-size: 16pt;
	font-family: Tahoma;
	font-weight: bold;
}

h2
{
	font-size: 10pt;
	font-family: Verdana;
	font-weight:bold;
}

a
{
	color: Blue;
	text-decoration: none;
}
fieldset { border:1px solid #3366CC }

#link {
    color: white;    
    text-decoration: underline;
}

legend {
  padding: 0.2em 0.5em;
  border:1px solid #3366CC;
  color:#3366CC;
  font-size:90%;
  text-align:right;
  }

label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  }

.sortColumn {
    text-decoration: underline;
}

.hlight {
    font-weight: bold;
}

.TitleFrame
{
	font-size: 18pt;
	font-family: Tahoma;
	font-weight: bold;
	color: white;
	text-align: center;
	vertical-align:middle;
	background-color: black;
	border-width: thin;	
}

.titlesides
{
	font-size: 10pt;
	font-family: Tahoma;
	font-weight: normal;
	color: white;
	text-align: center;
	vertical-align:middle;
	background-color: black;
}

.ImgHelpEmail, .ImgHelpPhone {
    float: left;
    height: 20px;
    width: 25px;

}

.lblHelp, #aHelp {
    margin-left: 10px;
    font-family: Calibri;
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-top: 5px;
    font-weight:normal;
}

.lblHelp {
    margin-left: 35px;
}

.divHelpEmail {
    font-family: Calibri;
    font-size: 10px;
    color: white;
    margin-left: 50px;
    font-weight: normal;
    width: 220px;
    height: 25px;
}

.allCells
{
	border-style:groove;
	border-width:4px;
	background-color:#F2F2F2;
}

#tblProfileDet {    
    padding: 5px;
    margin-left: 40px;   
}

#tblProfileDetRow {
    border: thin solid #000000;
    padding: 5px;
    margin: 30px;
    align-content:center;
}

.allPanels
{
	background-color:#F2F2F2;
}

.scrollPanel
{
	background-color:#F2F2F2;
	overflow:auto;
}

.contextDiv
{
	font-family:Verdana;
	font-size:small;
}

.CustName
{
	font-size: 14pt;
	font-family: Tahoma;
	font-weight: bold;
}

.Flag
{
	background-color:Red;
	font-weight:bold;
	font-size:medium;
	color:White;
}

.ActiveFlag
{
	background-color:green;
	font-weight:bold;
	font-size:medium;
	color:White;
}

.VIP
{
	background-color:Green;
	font-weight:bold;
	font-size:medium;
	color:White;
}

/* Locks the left column */
td.locked, th.locked {
font-size:small;
font-weight: bold;
text-align:left;
background-color:#003399;
color:#CCCCFF;
border-right: 1px solid silver;
position:relative;
cursor: default;
}

/* Scrolling divs */
.scrollDiv 
{
	overflow:auto;
}
	
/*CollapsiblePanel*/
.collapsePanel {
	
	background-color:#CCFFF5;
	border-style:groove;
	border-width:thin;
	overflow:hidden;
}

.collapsePanelHeader{
	width:100%;
	height:30px;
	background-image: url(images/bg-menu-main.png);
	background-repeat:repeat-x;
	color:#FFF;
	font-weight:bold;
}

.status
{
	font-size: 18px;
	font-family: Tahoma;
	font-weight: bold;
	color: #999999;
	background-color: #F0F0F0;
	border: solid 1px #666666;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;
}

.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #0080FF;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2290AD;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionContent
{
    background-color: #B4CDCD;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

.resizeHandle
{
	width:20px;
	height:30px;
	background-color:Lime;
	overflow:hidden;
}

.resizeStyle
{
	padding:0px;
	border-style:solid;
	border-width:2px;
	border-color:Fuchsia;
	overflow:hidden;
}

.TableDiv
{
	position:inherit;
	OVERFLOW :auto;
}

.leftTable
{
	text-align:left;
}

.unwatermarked
{
}

.watermarked
{
	background-color:Gray;
}

    .cal_Theme1 .ajax__calendar_container   {  
        background-color: #e2e2e2;   
        border:solid 1px #cccccc; 
        margin: 0px;
        padding: 0px; 
    }  
      
    .cal_Theme1 .ajax__calendar_header  {  
        background-color: #ffffff;   
        margin-bottom: 4px;  
    }  
      
    .cal_Theme1 .ajax__calendar_title,  
    .cal_Theme1 .ajax__calendar_next,  
    .cal_Theme1 .ajax__calendar_prev    {  
        color: #004080;   
        padding-top: 3px;  
    }  
      
    .cal_Theme1 .ajax__calendar_body    {  
        background-color: #e9e9e9;   
        border: solid 1px #cccccc;  
    }  
      
    .cal_Theme1 .ajax__calendar_dayname {  
        text-align:center;   
        font-weight:bold;   
        margin-bottom: 4px;   
        margin-top: 2px;  
    }  
      
    .cal_Theme1 .ajax__calendar_day {  
        text-align:center;  
        margin: 1px;
        padding: 0px;
    }  
      
    .cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,  
    .cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,  
    .cal_Theme1 .ajax__calendar_hover .ajax__calendar_year,  
    .cal_Theme1 .ajax__calendar_active  {  
        color: #004080;   
        font-weight: bold;   
        background-color: #ffffff;  
    }  
      
    .cal_Theme1 .ajax__calendar_today   {  
        font-weight:bold;  
    }  
      
    .cal_Theme1 .ajax__calendar_other,  
    .cal_Theme1 .ajax__calendar_hover .ajax__calendar_today,  
    .cal_Theme1 .ajax__calendar_hover .ajax__calendar_title {  
        color: #bbbbbb;  
    }  


.headerRow {
    border: 0px;
    font-weight: bold;
    color: black;
}

.dataRow {
    border: 0px;
    font-weight: bold;
    color: green;
}

#tblPCRedeem td {
    margin: 1px; /*padding: 5px;
    width: 75%;*/
    vertical-align: middle;
    text-align: center;
    background-color: white;
    outline: .5px solid #3366CC;
}

#tblEventAction td {
    margin: 1px; /*padding: 5px;
    width: 75%;*/
    vertical-align: middle;
    text-align: center;
    background-color: white;
    outline: .5px solid #3366CC;
}

#tblReservationsCalendar td {
    margin: 1px; /*padding: 5px;
    width: 75%;*/
    vertical-align: middle;
    text-align: center;
    background-color: white;
    outline: .5px solid #3366CC;    
}

#tblEvalSelection {
    border: thin solid #000000;
    margin-right: 25px;
    padding: 5px;   
    float:left;
}

#tblEvalSelection td {      
    padding: 5px;   
}

.errorLabel {
    font-size: small;
    font-weight: bolder;
    color: #FF3300;
}

#UpdateProgress1 {
    border-right: gray 1px solid;
    border-top: gray 1px solid;
    border-left: gray 1px solid;
    border-bottom: gray 1px solid;
    width: 400px;
    background-color: #C1D9FE;
}

.updProgress {
      border-right: gray 1px solid; border-top: gray 1px solid; 
      border-left: gray 1px solid; border-bottom: gray 1px solid;
      width: 400px; background-color: #C1D9FE;       
     }
